.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid rgb(250, 194, 19);
    font-size:34px;
    height: 63px;
    width: 450px;
}

button{
    border-radius: 19px;
    font-size: 38px;
    background:rgb(214, 28, 78);
    width: 102px;
    height: 59px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #FEF9A7;
    background-color: #15133C ;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 50px;
    color: blue;
    
}
body{

    background-color: #73777B;
background-image: linear-gradient(225deg,#F1EEE9 0%,#EC994B 50%, #293462 100%);

}